.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	height: 100dvh;
	width: 8rem;
	justify-content: space-between;
	background-color: #85f9ae;
	padding: 8px 20px;
	box-shadow: 10px 10px 10px -3px rgba(255, 255, 255, 0.1);
}

.nav > ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style: none;
}

.nav > ul a {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	color: #333;
	text-decoration: none;
}
