.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	gap: 12px;
	padding: 20px 0 0;
}

.main > h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.container {
	display: flex;
	margin: 0 40px 0 0;
	flex-wrap: wrap;
	gap: 5rem;
	font-size: 18px;
	line-height: 28px;
}

.boxLeft {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

.boxLeft > img {
	width: 100%;
	border-radius: 12px;
}

.descripHabitacion {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.descripHabitacion > h2 {
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
}

.precioHab {
	font-size: 20px;
	line-height: 28px;
	font-weight: bold;
}

.boxRight {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 12px;
}

.boxRight > h2 {
	font-size: 24px;
	line-height: 32px;
}

.boxRight > button {
	width: fit-content;
	border-radius: 6px;
	border: 2px solid #85f9ae;
	background: #85f9ae;
	padding: 8px 20px;
}

@media (min-width: 1024px) {
	.container {
		margin: 0;
	}

	.boxLeft,
	.boxRight {
		width: 40%;
	}
}
