
.main {
	background: #121212;
	padding: 12px 0 0;
	height: 100vh;
	overflow: hidden;
}

.content {
	overflow-y: auto;
	height: calc(100vh - 80px);
	padding: 0 0 5px;
}

.content::-webkit-scrollbar {
	width: 10px;
}

.content::-webkit-scrollbar-thumb {
	background: #1f2937;
	border-radius: 10px;
}

@media (max-width: 1073px) {
	.content {
		height: calc(100vh - 140px);
	}
	
	.table-wrapper {
		overflow-x: auto;
	}

	.modalContent {
		width: 90%;
		max-width: 600px;
		padding: 20px;
	}

	.modalFormInput input {
		font-size: 18px;
		padding: 15px;
	}

	.modalFormButtons button {
		font-size: 18px;
		padding: 15px 30px;
	}

	.sidebar {
		width: 250px;
	}
}

@media (max-width: 600px) {
	.content {
		height: calc(100vh - 120px);
	}

	.table-wrapper {
		overflow-x: scroll;
	}

	.modalContent {
		width: 90%;
		max-width: 500px;
	}

	.modalFormInput input {
		font-size: 16px;
		padding: 12px;
	}

	.modalFormButtons button {
		font-size: 16px;
		padding: 12px 25px;
	}
}
